<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# Header %>
    <header>
      <%= link_to "Top", root_path %>
      <% if user_signed_in? %>
        <%= link_to "Posts", posts_path %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <%# Footer %>
    <footer>
      <%= link_to "About", about_path %>
      <%= link_to "Policy", policy_path %>
      <%= link_to "Terms", terms_path %>
    </footer>
  </body>
</html>
